{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"endOfLine": "crlf",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"^(server|client)-only$",
		"^@/components/(.*)$",
		"^@/(.*)$",
		"^\\.(.*)$",
		"^next(.*)$",
		"^@(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^[./]"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
